<h2>Create New Landmark</h2>

<form action="/figures" method="post">
  <p>Name: <input type="text" name="landmark[name]"></p>
  <p>Year Completed: <input type="text" name="landmark[year_completed]"></p>
  <input type="submit">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
